* {
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 13, 19);
}

header {
    color: tomato;
}

main {
    color: rgb(255, 164, 80);
}

footer {
    color: wheat;
    position: static;
    clear: both;
}

#email {
    color: aqua;
}

#navbar {
    background-color: gray
}

.container {
    text-align: center;
}

.btn {
    width: 200px;
    padding: 5px 0px;
    /* Combined padding for brevity */
    font-size: 24px;
    background-color: wheat;
    color: black;
    /* Added text color for better visibility */
    border-radius: 5px;
    /* Optional: adds rounded corners */
    cursor: pointer;
    transition: background-color 0.5s;
    /* Ensure transition is set */
}

.btn:hover {
    background-color: hsl(162, 75%, 58%);
}




#lblCount {
    display: block;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media screen and (max-width:700px) {
    /*selection,selection,selection{
        property:decleration value
    }*/
}